@using Newtonsoft.Json;
@using Vitrine.Online.Core.Extensions;
@using Vitrine.Online.Core.Models.services;
@model ServicosRealizadosLista
@{
    Layout = "_Layout";
}




<div class="container mt-5 mb-5">
    <div class="col-lg-12 d-inline-flex">
        <div class="col-lg-10">
            <h4>Servicos</h4>
        </div>
        <div class="col-lg-2" style="text-align-last: center;">
            <a class="btn-teal" asp-controller="ServicoRealizado" asp-action="NovoTrabalho">Novo Trabalho</a>
        </div>
    </div>
    <hr />

    @if (Model?.ListaServico?.Any() ??false )
    {
        <!--servicos realizados Normal-->
        <form class="mt-5 pb-5 d-flex justify-content-center">

            <div class="col-lg-12 d-sm-inline-flex" style="flex-wrap: wrap; place-content: center;">

                @foreach (var servicosRealizado in Model.ListaServico)
                {
                    <div class="card-portfolio" onclick="onClickVerTrabalho(@JsonConvert.SerializeObject(servicosRealizado))">
                        @if (servicosRealizado.Imagens?.Any() ?? false)
                        {
                            var imagem = @servicosRealizado.Imagens?.FirstOrDefault();
                            <img src="data:image/png;base64,@imagem.AnexoBase64" style="width: 100%; height: 65%;" />
                        }
                        else
                        {
                            <img src="~/imgs/sem-imagem.png" style="width: 100%; height: 65%;" />
                        }

                        <p class="mt-1" style="overflow-wrap: break-word;"><b>@servicosRealizado.DescricaoServico.ObterTextoSimplificado(80)</b></p>

                        <div style="display: grid;">
                            <small>@servicosRealizado.ResumoServico.ObterTextoSimplificado() <b>...Ver mais</b></small>
                            <small style="overflow-wrap: break-word;">@servicosRealizado.EnderecoServico</small>
                        </div>
                    </div>
                }

            </div>
        </form>
    }
    else
    {
        <div class="center-text container pt-5">
            <div class="message-warning">
                <h4 class="text-semi-bold-orange mt-3">Não foi encontrado nenhum registro !</h4>
            </div>
        </div>
    }


</div>

@section Scripts{
    <script src="~/js/ServicoRealizado/ListaServicoRealizado.js asp-append-version="true"></script>
}