@using Vitrine.Online.Core.Models.services;
@model ServicoRealizadoViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Servico Realizado";
}

<div class="mt-5 mb-5 container container-ghost">


    <div class="col-lg-12 d-inline-flex">
        <h4 class="col-lg-10">@Model.DescricaoServico</h4>

    </div>
    <hr />


    <div class="mt-5 col-lg-12 d-sm-inline-flex">

        <!--Slides imagens-->
        <div class="col-lg-6">
            <div class="slideshow-container">

                @if (Model.Imagens?.Any() ?? false)
                {
                    @foreach (var img in Model.Imagens)
                    {
                        var imgBase64 = img.AnexoBase64;

                        <div class="mySlides">
                            <img src="data:image/png;base64,@imgBase64" style="width:100%; border-radius: 50px; height: 500px !important;">
                        </div>
                    }
                }
                else
                {
                    <div class="text-center" style="height: 500px; display: flex;  align-items: center;place-content: center;">
                        <h4 class="">There are no images to display</h4>
                    </div>
                }
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>

        <div class="col-lg-6 container-ghost pnl-descricao-trabalho">

            <p><b>Description:</b></p>
            <h4 class="mb-4">@Model.DescricaoServico</h4>

            <p><b>Categorie:</b></p>
            <h5 class="mb-4">@Model.ObterCategoria().NomeCategoria</h5>

            <p><b>Resume:</b></p>
            <h5 class="mb-4" style="word-wrap: break-word;">@Model.ResumoServico</h5>

            <p><b>Address:</b></p>
            <h5 class="mb-4">@Model.EnderecoServico</h5>

            <p><b>Request Date:</b></p>
            <h5 class="mb-4">@Model.DataServico.ToString("dd/MM/yyyy")</h5>
        </div>

    </div>




</div>

@section Scripts{
    <script src="~/js/ServicoRealizado/ListaServicoRealizado.js" asp-append-version="true"></script>
}